<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Video.FFMPEG.x64" version="3.8.0" targetFramework="net40" />
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net40" />
  <package id="MediaInfo.DotNetWrapper" version="1.0.7" targetFramework="net40" />
  <package id="MediaInfo.Native" version="17.12" targetFramework="net40" />
  <package id="MediaInfoDLL" version="22.12.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" />
  <package id="WMPLib" version="1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>